%div{:class=>'dragbox autodiv w922'}
  .drag_head
    %h2 Beacon Range
    -#.drag_btn
    -#  %a{:href => '#'}
  %div{:class=>'innerpage2 clearfix'}
    = form_for @beacon_range do |f|
      .popup_content
      - if @beacon_range.errors.any?
        #error_explanation
          %h2= "#{pluralize(@beacon_range.errors.count, "error")} prohibited this beacon_range from being saved:"
          %ul
            - @beacon_range.errors.full_messages.each do |msg|
              %li= msg

      .popup_row.clearfix
        = f.label :name, :class=>'title_name'
        .popup_fild
          = f.text_field :name
      .popup_row.clearfix
        = f.label :is_active, :class=>'title_name'
        .popup_fild
          .checkbox_list.checktext
          = f.check_box :is_active,:class=>'checkbox'
      .popup_row.button_wrapper2
        = f.submit 'Save',:class=>'blue_btn'
        = link_to 'Cancel', beacon_ranges_path,:class=>'blue_btn'