= form_for :ibeacon ,:url => remove_multiple_ibeacon_path, :html=>{:id=>'frm'} do |f|
  = hidden_field_tag :controller_type, self.controller_name
  .user_details.clearfix
    %h3 Beacon Details
    .selectbox.blueselect.frd
      = f.select(:name, [['Delete', 'delete'], ['Change Status', 'changestatus']],{:include_blank=> 'Select Action'},{:class=>'select1'})
      = f.submit 'Submit', :class=>'blue_btn'
    %label.actionlabel Actions
  #accordion.tablerow.clearfix
    %table.tablelist{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tr
        %th{align: "left", valign: "middle"}
        %th{align: "left", valign: "middle"} Sr. No.
        %th{align: "left", valign: "middle"} Name
        %th{align: "left", valign: "middle"} Description
        %th{align: "left", valign: "middle"} Store
        %th{align: "left", valign: "middle"} Broadcast
        %th{align: "left", valign: "middle"} Status
        %th{align: "left", valign: "middle"} UUID
        %th{align: "left", valign: "middle"} Major
        %th{align: "left", valign: "middle"} Minor
        %th{align: "left", valign: "middle"} Broadcastin Power(db)
        %th{align: "left", valign: "middle"} Broadcastin Interval(db)
        -#%th{align: "left", valign: "middle"}
        %th{align: "left", valign: "middle"}
      - @count=0
      - Ibeacon.all.order("id desc").limit(5).each do |ibeacon|
        %tr
          %td{align: "left", valign: "middle"}
            .checkbox_list.checktext
              = check_box('ibeacon[chk_ids]', ibeacon.id, :class=>'checkbox')
          %td{align: "left", valign: "middle"}= @count = @count+1
          %td{align: "left", valign: "middle"}= ibeacon.name
          %td{align: "left", valign: "middle"}= ibeacon.description
          %td{align: "left", valign: "middle"}= ibeacon.store.try(:name)
          %td{align: "left", valign: "middle"}= ibeacon.broadcast_id
          %td{align: "left", valign: "middle"}= ibeacon.isactive
          %td{align: "left", valign: "middle"}= ibeacon.uuid
          %td{align: "left", valign: "middle"}= ibeacon.major_id
          %td{align: "left", valign: "middle"}= ibeacon.minor_id
          %td{align: "left", valign: "middle"}= ibeacon.broadcasting_power
          %td{align: "left", valign: "middle"}= ibeacon.broadcasting_interval
          -#%td{align: "left", valign: "middle"}= link_to 'Show', ibeacon
          %td{align: "left", valign: "middle"}= link_to 'Edit', edit_ibeacon_path(ibeacon)
    %br
:javascript
  $("#frm").submit(function(event){
    var valDDL = $("#ibeacon_name").val();
    if(valDDL=="")
    {
      event.preventDefault();
      alert("Select an Action");
    }
  });