.user_details.clearfix
  %h2 Category's Detail
  %hr
  .innerpage2.clearfix
    %p#notice= notice
    .popup_row.clearfix
      %p
        %b Name:
        = @category.name
      %br/
      %p
        %b Status:
        = @category.isactive
      %br/
    = link_to 'Edit', edit_category_path(@category),:class=>'blue_btn'
    = link_to 'Back', categories_path,:class=>'blue_btn'